@use '../../utils/functions' as f;

.PackageMapper {
  $border-radius: 8px;
  $pad: 7px; // for .PackageMapper
  $side-pad: 17px; // for .barUpperLeft and .barUpperRight
  $top-pad: 10px; // for .subcommands and .arguments

  height: 100%;
  padding: $pad $pad 0;
  display: grid;
  grid-template-rows: 135px auto; // modify first px value to change bar height
  grid-template-columns: 50% 50%;
  grid-template-areas: 
    "bar bar"
    "subcommands arguments";

  &__bar {
    grid-area: bar;
    background-color: f.primary-color(85%);
    border-radius: $border-radius;
    
    display: grid;
    grid-template-rows: 45% 55%;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
      "upperLeft upperRight"
      "bottom bottom";
  }

  &__barUpperLeft, &__barUpperRight, &__barLower {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  &__barUpperLeft {
    grid-area: upperLeft;
    column-gap: 10px;
    padding-left: $side-pad;
  }
  
  &__barUpperRight {
    grid-area: upperRight;
    justify-content: end;
    padding-right: $side-pad;
  }

  &__barLower {
    grid-area: bottom;
    background-color: f.primary-color(60%);
    border-radius: $border-radius;
    overflow-x: auto;
    padding: 0 10px;
  }

  &__chipWrapper {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 5px;
    margin: 0 auto;
  }

  &__subcommands {
    padding: $top-pad 0 0 $top-pad;
    display: flex;
    flex-flow: row nowrap;
    column-gap: 25px;
  }

  &__arguments {
    padding: $top-pad $top-pad 0 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
  }
}
