.NewDocker {
  font-size: 11.5pt;
  height: 100%;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 40px 4em 4em 6em auto 7em;
  grid-template-areas: "cancel cancel cancel" "titleLeft title titleRight" "fileLeft file fileRight" "descLeft desc descRight" "testsLeft tests testsRight" "btnsLeft btns btnsRight";
}
.NewDocker__cancel {
  position: relative;
  top: 0;
  left: 0;
}
.NewDocker__titleInput {
  grid-area: title;
  align-self: end;
}
.NewDocker__descLabel {
  font-family: "Roboto", sans-serif;
  font-size: 1.05em;
  font-style: normal;
  font-weight: 400;
  color: hsl(var(--primary-text-color_h), var(--primary-text-color_s), var(--primary-text-color_l));
  font-weight: 500;
  grid-area: descLeft;
  justify-self: right;
  margin: 0.5em 1em;
}
.NewDocker__desc {
  font-family: "Roboto", sans-serif;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  color: hsl(var(--primary-text-color_h), var(--primary-text-color_s), var(--primary-text-color_l));
  grid-area: desc;
  resize: none;
  outline: none;
  border: none;
  background-color: hsl(var(--primary-color_h), var(--primary-color_s), calc(var(--primary-color_l) + (100% - var(--primary-color_l)) * 0.7));
  border-radius: 10px;
  padding: 1em;
}
