@use '../../utils/functions' as f;
@use '../../utils/variables' as vars;
@use '../../utils/mixins' as m;
@use '../../utils/fonts';

.Input {
  @include fonts.roboto;
  @include m.input;
  border: none;
  outline: none;
  height: 1.4em;

  &--error {
    @extend .Input;
    background-color: vars.$error-color;
  }
}
