.BackButton {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  color: hsl(var(--primary-text-color_h), var(--primary-text-color_s), var(--primary-text-color_l));
  font-weight: 500;
  position: absolute;
  top: 25px;
  left: 25px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  cursor: default;
}
.BackButton__backIcon {
  width: 18px;
  stroke: hsl(var(--primary-text-color_h), var(--primary-text-color_s), calc(var(--primary-text-color_l) + (100% - var(--primary-text-color_l)) * 0.3));
  padding: 5px;
  display: inline-block;
  transition: 0.15s;
}
.BackButton:hover .BackButton__backIcon {
  stroke-width: 1.8px;
}
