.ToolBarItem {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  border-radius: 5px;
  margin: 0 2px;
  transition: 0.15s;
}
.ToolBarItem:hover {
  background-color: hsl(var(--primary-color_hs), calc(var(--primary-color_l) + (100% - var(--primary-color_l)) * 0.35));
}
.ToolBarItem:hover .ToolBarItem__options {
  opacity: 1;
  pointer-events: all;
}
.ToolBarItem__name {
  padding: 6px 10px;
}
.ToolBarItem__options {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  width: max-content;
  border-radius: inherit;
  padding: 5px 0;
  background-color: hsl(var(--primary-color_hs), calc(var(--primary-color_l) + (100% - var(--primary-color_l)) * 0.85));
  box-shadow: 1px 2px 10px #a9a9a9;
  z-index: 100;
  transition: inherit;
}
.ToolBarItem__option {
  padding: 9px 16px;
  border-radius: inherit;
  transition: inherit;
}
.ToolBarItem__option:hover {
  background-color: hsl(var(--primary-color_hs), calc(var(--primary-color_l) + (100% - var(--primary-color_l)) * 0.7));
}
