@use '../../utils/functions' as f;
@use '../../utils/fonts';

.Chip {
  $default-bkg-color: f.primary-color(5%);
  $font-size: 10.5pt;
  $vert-pad: 10px;
  $horiz-pad: 15px;
  $border-width: 3px;
  $input-vert-pad: calc($vert-pad - $border-width);
  $input-horiz-pad: calc($horiz-pad - $border-width);

  @include fonts.roboto-mono-bold($font-size);
  background-color: $default-bkg-color;
  padding: $vert-pad $horiz-pad;
  margin: 0 5px;
  width: max-content;
  height: max-content;
  border-radius: 25px;
  box-sizing: border-box;

  &--base {
    @extend .Chip;
    background-color: f.primary-color(-20%);
  }

  &--arg {
    @extend .Chip;
    $arg-vert-pad: calc($vert-pad - $input-vert-pad);
    $arg-horiz-pad: calc($horiz-pad - $input-horiz-pad);
    padding: $arg-vert-pad $arg-horiz-pad $arg-horiz-pad $vert-pad;
    display: flex;
    flex-direction: row nowrap;
    align-items: center;
  }
  
  &__argument {
    @include fonts.roboto-mono-bold($font-size);
    background-color: f.primary-color(80%);
    padding: $input-vert-pad $input-horiz-pad;
    border: none;
    margin-left: 8px;
    border-radius: inherit;
  }

  &__value {
    @extend .Chip;
    background-color: f.primary-color(80%);
    padding: calc($vert-pad - $border-width) calc($horiz-pad - $border-width);
    border: $border-width solid $default-bkg-color;
  }
}
