@use '../../utils/functions' as f;
@use '../../utils/fonts';

.Chip {
  $default-bkg-color: f.primary-color(5%);
  $font-size: 10.5pt;
  $vert-pad: 10px;
  $horiz-pad: 15px;
  $arg-border: 4px; // chip spacing around argument input
  $input-vert-pad: calc($vert-pad - $arg-border);
  $input-horiz-pad: calc($horiz-pad - $arg-border);
  $border-thick: 2px;

  @include fonts.roboto-mono-bold($font-size);
  width: max-content;
  height: max-content;
  background-color: $default-bkg-color;
  padding: $vert-pad $horiz-pad;
  margin: 0 5px;
  border-radius: 25px;
  box-sizing: border-box;

  &--base {
    @extend .Chip;
    background-color: f.primary-color(-20%);
  }

  &--arg {
    @extend .Chip;
    $arg-vert-pad: calc($vert-pad - $input-vert-pad);
    $arg-horiz-pad: calc($horiz-pad - $input-horiz-pad);
    padding: $arg-vert-pad $arg-horiz-pad $arg-horiz-pad $vert-pad
  }

  &__argument {
    @include fonts.roboto-mono-bold($font-size);
    background-color: f.primary-color(80%);
    border: none;
    padding: $input-vert-pad $input-horiz-pad;
    margin-left: 8px;
    border-radius: inherit;
  }

  &__value {
    @extend .Chip;
    background-color: f.primary-color(80%);
    border: $border-thick solid $default-bkg-color;
    padding: calc($vert-pad - $border-thick) calc($horiz-pad - $border-thick);
  }
}
