.NewImage {
  font-size: 11.5pt;
  height: 100%;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 40px 4em 3em 6em auto 7em;
  grid-template-areas: "cancel cancel cancel" "titleLeft title titleRight" "fileLeft file fileRight" "descLeft desc descRight" "testsLeft tests testsRight" "btnsLeft btns btnsRight";
  row-gap: 15px;
}
.NewImage .NewImage__testsLabel, .NewImage .NewImage__descLabel, .NewImage .NewImage__fileLabel {
  font-family: "Roboto", sans-serif;
  font-size: 1.05em;
  font-style: normal;
  font-weight: 400;
  color: hsl(var(--primary-text-color_h), var(--primary-text-color_s), var(--primary-text-color_l));
  font-weight: 500;
  justify-self: right;
  margin: 0.8em 1.4em;
}
.NewImage .NewImage__tests, .NewImage .NewImage__desc, .NewImage .NewImage__file {
  background-color: hsl(var(--primary-color_h), var(--primary-color_s), calc(var(--primary-color_l) + (100% - var(--primary-color_l)) * 0.7));
  border-radius: 10px;
  padding: 0.8em;
}
.NewImage__cancel {
  position: relative;
  top: 0;
  left: 0;
}
.NewImage__titleInput {
  grid-area: title;
  align-self: center;
}
.NewImage__fileLabel {
  grid-area: fileLeft;
  align-self: center;
}
.NewImage__file {
  grid-area: file;
  width: 70%;
}
.NewImage__descLabel {
  grid-area: descLeft;
}
.NewImage__desc {
  grid-area: desc;
}
.NewImage__testsLabel {
  grid-area: testsLeft;
}
.NewImage__tests {
  grid-area: tests;
}
