@use '../../utils/fonts';
@use '../../utils/functions' as f;

.SelectInput {
  @include fonts.roboto(1em);
  appearance: none;
  background-color: f.primary-color(70%);
  border-radius: 10px;
  padding: 0.8em;
  border: none;
  outline: none;
  display: grid;

  &::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: var(--select-arrow);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  }
}
