@use '../../utils/fonts';
@use '../../utils/functions' as f;

.SelectInput {
  background-color: f.primary-color(70%);
  padding: unset !important; /* prevent padding from conflicting with select el */
  border-radius: 10px;
  position: relative;
  display: grid;
  
  select {
    @include fonts.roboto(1em);
    background-color: inherit;
    padding: 0.8em;
    border-radius: inherit;
    appearance: none;
    border: none;
    outline: none;
  }

  &::after {
    content: "\142F";
    color: f.primary-text-color(10%);
    position: absolute;
    right: 1.1em;
    top: 50%;
    transform: scale(170%, 70%) translateY(-70%);
  }
}
