.PageBarItem {
  flex: 1 1 0px;
  text-align: center;
  padding: 11px 0;
  margin: 7px;
  border-radius: 5px;
  background-color: #E2E2E2;
  color: #696969;
  transition: 0.15s;

  &--active {
    @extend .PageBarItem;
    background-color: #B9B9B9;
    color: #303030;
  }
}
