@use '../../utils/functions' as f;

.PageBarItem {
  flex: 1 1 0px;
  text-align: center;
  padding: 11px 0;
  margin: 7px;
  border-radius: 5px;
  background-color: f.primary-color(50%);
  color: f.secondary-text-color(45%);
  transition: 0.15s;

  &:hover {
    background-color: f.primary-color(35%);
    color: f.secondary-text-color(40%);
  }

  &--active {
    @extend .PageBarItem;
    background-color: f.primary-color(0%);
    color: f.secondary-text-color(0%);
    pointer-events: none;
  }
}
