html, body {
  margin: 0;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.05pt;
  color: #353535;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Roboto Mono", monospace;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0pt;
  color: #353535;
}

a {
  text-decoration: none;
}

a:active, a:focus {
  outline: 0;
  border: none;
  outline-style: none;
}

#root {
  height: 100%;
}
