:root {
  --primary-color_hs: 0, 0%;
  --primary-color_l: 73%;
  --secondary-color_hs: 0, 0%;
  --secondary-color_l: 73%;
  --primary-text-color_hs: 0, 0%;
  --primary-text-color_l: 21%;
  --secondary-text-color_hs: 0, 0%;
  --secondary-text-color_l: 21%;
  --primary-color: hsl(0, 0%, 73%);
  --secondary-color: hsl(0, 0%, 73%);
  --primary-text-color: hsl(0, 0%, 21%);
  --secondary-text-color: hsl(0, 0%, 21%);
  --t: hsl(210, 12%, 29%);
  --t2: hsl(210, 12%, 40%);
  --t3: hsl(210, 12%, 20%);
  --t4: hsl(210, 12%, 27%);
  --primary-color_hs: 210, 12%;
  --primary-color_l: 29%;
  --secondary-color_hs: 187, 9%;
  --secondary-color_l: 60%;
  --primary-text-color_hs: 209, 20%;
  --primary-text-color_l: 23%;
  --secondary-text-color_hs: 200, 39%;
  --secondary-text-color_l: 95%;
}

html, body {
  margin: 0;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.05pt;
  color: #2f3b46;
  background-color: hsl(var(--primary-color_hs), calc(var(--primary-color_l) + (100% - var(--primary-color_l)) * 0.97));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Roboto Mono", monospace;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0pt;
  color: #2f3b46;
}

a {
  text-decoration: none;
}

a:active, a:focus {
  outline: 0;
  border: none;
  outline-style: none;
}

#root {
  height: 100%;
}
