@use '../../utils/functions' as f;
@use '../../utils/fonts';

.Button {
  @include fonts.roboto-medium(10.5pt);
  width: max-content;
  height: max-content;
  padding: 10px 30px;
  background-color: f.primary-color(-20%);
  color: f.primary-color(95%);
  border-radius: 5px;
  cursor: default;
  transition: 0.2s;

  &:hover {
    background-color: f.primary-color(-58%);
  }
}
