.PageBar {
  font-family: "Roboto", sans-serif;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.05pt;
  font-weight: 500;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}
