.PageBarItem, .PageBarItem--active {
  flex: 1 1 0px;
  text-align: center;
  padding: 11px 0;
  margin: 7px;
  border-radius: 5px;
  background-color: gainsboro;
  color: #8c8c8c;
  transition: 0.15s;
}
.PageBarItem:hover, .PageBarItem--active:hover {
  background-color: #d2d2d2;
  color: #828282;
}
.PageBarItem--active {
  background-color: #b9b9b9;
  color: #2e2e2e;
  pointer-events: none;
}
