.TestBlock{
    padding: 1em;
    background-color: lightgreen;
    border-radius: 25%;
}
.TestBlock2{
    padding: 1em;
    background-color: lightpink;
    border-radius: 25%;
}

.TestBlock3{
    padding: 1em;
    background-color: lightpink;
    border-radius: 25%;
}