@use "../../utils/functions" as f;

.TestRunner {
  display: flex;
  flex-flow: column nowrap;
  max-width: 100%;
  height: 100%;
  padding: 6px;
  overflow: auto;

  &__runBtn {
    margin: 25px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
  }
}
