.Chip, .Chip__value, .Chip--arg, .Chip--base {
  font-family: "Roboto Mono", monospace;
  font-size: 0.93em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0pt;
  color: hsl(var(--secondary-text-color_h), var(--secondary-text-color_s), var(--secondary-text-color_l));
  font-weight: 700;
  background-color: hsl(var(--primary-color_h), var(--primary-color_s), calc(var(--primary-color_l) + (100% - var(--primary-color_l)) * 0.15));
  padding: 10px 15px;
  width: max-content;
  height: max-content;
  border-radius: 25px;
  box-sizing: border-box;
  cursor: default;
  white-space: nowrap;
}
.Chip--hover {
  transition: 0.1s;
  transition-timing-function: ease-out;
}
.Chip--hover:hover {
  background-color: hsl(var(--primary-color_h), var(--primary-color_s), calc(var(--primary-color_l) + var(--primary-color_l) * -0.1));
}
.Chip--base {
  background-color: hsl(var(--primary-color_h), var(--primary-color_s), calc(var(--primary-color_l) + var(--primary-color_l) * -0.07));
}
.Chip--arg {
  padding: 3px 3px 3px 15px;
  display: flex;
  flex-direction: row nowrap;
  align-items: center;
}
.Chip--value {
  width: max-content;
}
.Chip__argument, .Chip__value {
  cursor: text;
  background-color: hsl(var(--secondary-color_h), var(--secondary-color_s), calc(var(--secondary-color_l) + (100% - var(--secondary-color_l)) * 0.8));
  color: hsl(var(--primary-text-color_h), var(--primary-text-color_s), var(--primary-text-color_l));
}
.Chip__argument {
  font-family: "Roboto Mono", monospace;
  font-size: 0.93em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0pt;
  color: hsl(var(--primary-text-color_h), var(--primary-text-color_s), var(--primary-text-color_l));
  font-weight: 700;
  padding: 7px 12px;
  border: none;
  margin-left: 8px;
  border-radius: inherit;
}
.Chip__value {
  padding: 7px 12px;
  border: 3px solid hsl(var(--primary-color_h), var(--primary-color_s), calc(var(--primary-color_l) + (100% - var(--primary-color_l)) * 0.15));
}

.SelectedChip {
  background-color: hsl(var(--primary-color_h), var(--primary-color_s), calc(var(--primary-color_l) + var(--primary-color_l) * -0.3));
  color: hsl(var(--secondary-text-color_h), var(--secondary-text-color_s), calc(var(--secondary-text-color_l) + (100% - var(--secondary-text-color_l)) * 0.95));
}
.SelectedChip:hover {
  background-color: hsl(var(--primary-color_h), var(--primary-color_s), calc(var(--primary-color_l) + var(--primary-color_l) * -0.37));
}
