.Chip, .Chip__value, .Chip--arg, .Chip--base {
  font-family: "Roboto Mono", monospace;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0pt;
  color: #2e2e2e;
  font-weight: 700;
  background-color: #c4c4c4;
  padding: 10px 15px;
  width: max-content;
  height: max-content;
  border-radius: 25px;
  box-sizing: border-box;
  cursor: default;
  white-space: nowrap;
}
.Chip--hover {
  transition: 0.1s;
  transition-timing-function: ease-out;
}
.Chip--hover:hover {
  background-color: #a7a7a7;
}
.Chip--base {
  background-color: #a7a7a7;
}
.Chip--arg {
  padding: 3px 3px 3px 15px;
  display: flex;
  flex-direction: row nowrap;
  align-items: center;
}
.Chip--value {
  width: max-content;
}
.Chip__argument, .Chip__value {
  cursor: text;
  background-color: #f1f1f1;
  color: #353535;
}
.Chip__argument {
  font-family: "Roboto Mono", monospace;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0pt;
  color: #353535;
  font-weight: 700;
  padding: 7px 12px;
  border: none;
  margin-left: 8px;
  border-radius: inherit;
}
.Chip__value {
  padding: 7px 12px;
  border: 3px solid #c4c4c4;
}

.SelectedChip {
  background-color: #828282;
  color: #2e2e2e;
}
