@use '../../utils/functions' as f;
@use '../../utils/variables' as vars;

.ToolBarItem {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  border-radius: 5px;
  margin: 0 2px;
  transition: 0.15s;

  &:hover {
    background-color: f.primary-color(35%);
  }

  &:hover &__options {
    opacity: 1;
    pointer-events: all;
  } 

  &:hover &__name {
    color: f.secondary-text-color(20%);
  }

  &__name {
    padding: 6px 10px;
  }

  &__options {
    opacity: 0;
    pointer-events: none;
    
    position: absolute;
    width: max-content;
    border-radius: inherit;
    padding: 5px 0;
    background-color: f.primary-color(85%);
    box-shadow: 1px 2px 10px vars.$shadow-color;
    z-index: 100;
    transition: inherit;
  }
  
  &__option {
    padding: 9px 16px;
    border-radius: inherit;
    transition: inherit;

    &:hover {
      background-color: f.primary-color(70%);
    }
  }
}
