.FilterInput {
  background-color: #eaeaea;
  border-radius: 5px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  transition: 0.1s;
}
.FilterInput:hover {
  background-color: #e3e3e3;
}
.FilterInput .FilterInput__searchIcon:hover, .FilterInput .FilterInput__cancelIcon:hover, .FilterInput:hover .FilterInput__searchIcon {
  stroke-width: 1.4px;
}
.FilterInput__cancelIconWrapper {
  display: inline-flex;
}
.FilterInput .FilterInput__searchIcon--hide, .FilterInput .FilterInput__cancelIcon--hide, .FilterInput .FilterInput__searchIcon, .FilterInput .FilterInput__cancelIcon {
  width: 18px;
  stroke: #727272;
  padding: 5px;
  display: inline-block;
  transition: 0.15s;
}
.FilterInput__searchIcon--hide, .FilterInput__cancelIcon--hide {
  pointer-events: none;
  opacity: 0;
}
.FilterInput__textInput {
  font-family: "Roboto", sans-serif;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.05pt;
  color: #353535;
  border: none;
  outline: none;
  background-color: inherit;
  padding: 5px 3px 5px;
  flex-grow: 2;
  width: 0;
}
