.TextInput {
  --placeholder: '';
  display: block;
  background-color: white;
  padding: 10px;
  outline: none;

  &--disabled {
    @extend .TextInput;
    cursor: default;
  }

  // needed to prevent a stuck caret bug
  &__wrapper {
    display: inline-block;
    border-radius: inherit;
  }

  &:empty::before {
    content: var(--placeholder);
    color: #9c9c9c;
  }
}
