.PackageMapper {
  height: 100%;
  padding: 7px 7px 0;
  display: grid;
  grid-template-rows: 135px auto;
  grid-template-columns: 50% 50%;
  grid-template-areas: "bar bar" "subcommands arguments";
}
.PackageMapper__bar {
  grid-area: bar;
  background-color: whitesmoke;
  border-radius: 8px;
  display: grid;
  grid-template-rows: 45% 55%;
  grid-template-columns: 50% 50%;
  grid-template-areas: "upperLeft upperRight" "bottom bottom";
}
.PackageMapper__barUpperLeft, .PackageMapper__barUpperRight, .PackageMapper__barLower {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.PackageMapper__barUpperLeft {
  grid-area: upperLeft;
  column-gap: 10px;
  padding-left: 17px;
}
.PackageMapper__barUpperRight {
  grid-area: upperRight;
  justify-content: end;
  padding-right: 17px;
}
.PackageMapper__barLower {
  grid-area: bottom;
  background-color: #e3e3e3;
  border-radius: 8px;
  overflow-x: auto;
  padding: 0 10px;
}
.PackageMapper__chipWrapper {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 5px;
  margin: 0 auto;
}
.PackageMapper__subcommands {
  padding: 10px 0 0 10px;
}
.PackageMapper__arguments {
  padding: 10px 10px 0 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
}
