@use 'sass:color';
@use '../utils/variables' as vars;

@function lighten($color, $amount) {
  // a negative $amount will darken $color
  // $amount should be a percentage
  @return color.scale($color, $lightness: $amount);
}

@function primary-color($amount: 0%) {
  @return lighten(vars.$primary-color, $amount);
}

@function secondary-color($amount: 0%) {
  @return lighten(vars.$secondary-color, $amount);
}

@function primary-text-color($amount: 0%) {
  @return lighten(vars.$primary-text-color, $amount);  
}

@function secondary-text-color($amount: 0%) {
  @return lighten(vars.$secondary-text-color, $amount);  
}
