@use './functions' as f;

@mixin hsl-var(
  $name,  
  $hue,
  $saturation,
  $lightness
) {
  --#{$name}-color_h: #{$hue};
  --#{$name}-color_s: #{$saturation};
  --#{$name}-color_l: #{$lightness};
}

@mixin outlinedButton() {
  box-shadow: inset 0px 0px 0px 2px f.primary-color(5%);
  color: f.primary-text-color();
  background-color: f.primary-color(90%);

  &:hover {
    background-color: f.primary-color(80%);
    box-shadow: inset 0px 0px 0px 2px f.primary-text-color(10%);
  }
}
