$primary-text-color: #353535;
$secondary-text-color: #696969;

$primary-color: #b9b9b9;
$secondary-color: #E2E2E2;

$button-color: #6E6E6E;
$shadow-color: #a9a9a9;

// $primary-text-color: #055a1a;
// $primary-color: #6ead8d;
// $primary-color: #27bd77;
