@use '../../utils/variables' as vars;
@use '../../utils/functions' as f;
@use '../../utils/fonts';


.RunBlock{
    $default-bkg-color: f.primary-color(-10%);
    padding: 2em 1em;
    background-color: $default-bkg-color;
    border-radius: 10px;
    margin: 0.3em;
}