@use '../../utils/functions' as f;
@use '../../utils/mixins' as m;
@use '../../utils/fonts';

.NewDocker {
  height: 100%;

  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 40px 4em 3em 6em auto 7.5em;
  grid-template-areas: 
    "cancel cancel cancel"
    "titleLeft title titleRight" // Docker image title
    "fileLeft file fileRight" // file
    "descLeft desc descRight" // description
    "testsLeft tests testsRight" // tests
    "btnsLeft btns btnsRight"; // buttons
  row-gap: 15px;
  
  %label {
    @include fonts.roboto-medium(1.05em);
    justify-self: right;
    margin: 0.8em 1.4em;
  }

  %input {
    background-color: f.primary-color(70%);
    border-radius: 10px;
    padding: 0.8em;
  }

  &__cancel {
    grid-area: cancel;
    position: relative;
    top: 0;
    left: 0;
  }

  &__titleInput {
    grid-area: title;
    align-self: center;
  }

  &__fileLabel {
    @extend %label;
    grid-area: fileLeft;
    align-self: center;
  }

  &__fileWrapper {
    grid-area: file;
    display: flex;
    flex-flow: nowrap row;
    gap: 15px;
    width: 100%;
    align-items: center;
  }

  &__file {
    @extend %input;
    width: 70%;
  }

  &__uploadBtn {
    padding: 0.06em;
  }

  &__descLabel {
    @extend %label;
    grid-area: descLeft;
  }

  &__desc {
    @extend %input;
    grid-area: desc;
  }

  &__testsLabel {
    @extend %label;
    grid-area: testsLeft;
  }

  &__tests {
    @extend %input;
    grid-area: tests;
    overflow: auto;
    display: flex;
    flex-flow: nowrap column;
    row-gap: 10px;
  }

  &__newTestBtn {
    grid-area: testsRight;
    margin-left: 15px;
  }

  &__btnWrapper {
    grid-area: btns;
    display: flex;
    flex-flow: nowrap row;
    gap: 15px;
  }

  &__saveBtn {
    padding: 0.8em 2.7em;
  }
}
