@use '../../utils/functions' as f;
@use '../../utils/fonts';

.NewDocker {
  font-size: 11.5pt;
  height: 100%;

  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 40px 4em 3em 6em auto 7em;
  grid-template-areas: 
    "cancel cancel cancel"
    "titleLeft title titleRight" // Docker image title
    "fileLeft file fileRight" // file
    "descLeft desc descRight" // description
    "testsLeft tests testsRight" // tests
    "btnsLeft btns btnsRight"; // buttons
  row-gap: 15px;
  
  %label {
    @include fonts.roboto-medium(1.05em);
    justify-self: right;
    margin: 0.8em 1.4em;
  }

  %input {
    background-color: f.primary-color(70%);
    border-radius: 10px;
    padding: 0.8em;
  }

  &__cancel {
    position: relative;
    top: 0;
    left: 0;
  }

  &__titleInput {
    grid-area: title;
    align-self: center;
  }

  &__fileLabel {
    @extend %label;
    grid-area: fileLeft;
    align-self: center;
  }

  &__file {
    @extend %input;
    grid-area: file;
    width: 70%;
  }

  &__descLabel {
    @extend %label;
    grid-area: descLeft;
  }

  &__desc {
    @extend %input;
    grid-area: desc;
  }

  &__testsLabel {
    @extend %label;
    grid-area: testsLeft;
  }

  &__tests {
    @extend %input;
    grid-area: tests;
  }
}
